<div class="container">

    <div class="event_box">
        <img src="assets/img/events/event1.png" alt="event">
        <div class="event_info">
            <div class="event_title">
                Japanese Event
            </div>
            <div class="speakers">
                <strong>Speakers : </strong>
                <span>Maria Smith  </span>
            </div>
            <div class="event_date">
                February 15, 2021
            </div>
        </div>
        <div class="event_word">
            <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                    description1
                </div>
                
            </div>
        </div>
        <a href="#" class="readmore_btn">read more</a>
    </div>

    <div class="event_box">
        <img src="../../assets/img/events/event2.png" alt="event">
        <div class="event_info">
            <div class="event_title">
                Art Event
            </div>
            <div class="speakers">
                <strong>Speakers :</strong>
                <span>Gabriel Hernandez</span>
            </div>
            <div class="event_date">
                February 14, 2022
            </div>
        </div>
        <div class="event_word">
            <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                    description
                </div>
                
            </div>
        </div>
        <a href="#" class="readmore_btn">read more</a>
    </div>

    <div class="event_box">
        <img src="../../assets/img/events/event3.png" alt="event">
        <div class="event_info">
            <h5 class="event_title">
                Disco Event
            </h5>
            <div class="speakers">
                <strong>Speakers : </strong>
                <span>dj khaled</span>
            </div>
            <div class="event_date">
                February 14, 2022
            </div>
        </div>
        <div class="event_word">
            <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                    description
                </div>
                
            </div>
        </div>
        <a href="#" class="readmore_btn">read more</a>
    </div>

</div>
