<div class="search-bar-container">
    <label class="search-label" for="Search-Club">Search Event</label><br />
    <img src="../../assets/Icons/icon_search.svg" width="17px" alt="" />
    <input class="searchbar" type="text" [(ngModel)]="title" (input)="search()" />
    <button class="create-btn" mat-raised-button  [routerLink]="['/createEvent']">Launch an Event</button>
  </div>

<div class="cards-deck" *ngIf="!isLoading">
    <div class="cards-wrapper" *ngFor="let event of events">
        <div class="cards">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="../../assets/Events/Event1.png" class="card-img" alt="..." />
                    </div>
                    <div class="col-md-6 card-body">
                        <div class=" card-content ">
                            <h5 class="card-title">{{event.title}}</h5>
                            <p class="card-text card-text-custom">{{event.description}}
                                
                            </p>
                            <div class="card-bottom">
                                <div class="card-sub-bold">
                                    <h4>{{event.organizer}}</h4>
                                    <small class="text-muted">{{event.topic}}</small>
                                </div>
                                <div class="card-sub-bold">
                                    <h4>Location</h4>
                                    <small class="text-muted">{{event.location}}</small>
                                </div>
                                <div class="card-sub-bold">
                                    <h4>Date</h4>
                                    <small class="text-muted">{{event.date}}</small>
                                </div>
                                <div class="card-sub-bold">
                                    <h4>Time</h4>
                                    <small class="text-muted">{{event.time}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex flex-column card-cta">
                        <img src="../../assets/Logos/Enactus.jpg" alt="" />
                        <div class="card-buttons">
                            <button type="button" class="btn btn-primary btn--orange" (click)="onDelete(event.id)">
                                DELETE
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn--orange-outline" [routerLink]="['/editEvent',event.id]" routerLinkActive="router-link-active" >
                                EDIT
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>