

<mat-spinner *ngIf="isLoading"></mat-spinner>

    
<div class="form-wrapper">


    <form (submit)="onSaveEvent(eventForm)" #eventForm="ngForm" *ngIf="!isLoading">
        <mat-form-field class="example-full-width">
            <mat-label>Enter the event title</mat-label>
            <input matInput type="text" name="title" [ngModel]="event?.title" required placeholder="event title" minlength="3" #title="ngModel"> 
            <mat-error *ngIf="title.invalid">Please Enter a Title</mat-error> 
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="text" name="organizer" [ngModel]="event?.organizer" required placeholder="event organizer" minlength="3" #organizer="ngModel">
            <mat-error *ngIf="organizer.invalid" >please enter an organizer </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="text" [matDatepicker]="myDatepicker" name="date" [ngModel]="event?.date" required placeholder="event date"  #date="ngModel">
            <mat-datepicker-toggle [for]="myDatepicker"  matSuffix></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
            <mat-error *ngIf="date.invalid">please enter a date</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput rows="6" name="content" [ngModel]="event?.description" required placeholder="event content" #content="ngModel"></textarea>
        </mat-form-field>
        <button class="create-btn" mat-raised-button  type="submit">Save event</button>
        
        <button mat-raised-button color="warn" type="submit" [routerLink]="['/eventlist']">See events</button>
    </form>
</div>


