.example-form{
    width: auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:ghostwhite; 
    text-align: center;
}
  
.example-full-width {
    width: 100%;
}

mat-spinner {
    margin:auto ;
}