
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3>Create Your event</h3>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="form" (submit)="onSaveEvent()">
                <div class="form-group row">
                  <label for="event name" class="col-4 col-form-label"
                    >Event Name</label
                  >
                  <div class="col-8">
                    <input
                      id="name"
                      name="title"
                      placeholder="Name your event"
                      class="form-control here"
                      type="text"
                      formControlName="title"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="name" class="col-4 col-form-label"
                    >organizedBy</label
                  >
                  <div class="col-8">
                    <input
                      id="name"
                      name="organizer"
                      placeholder="Who are you ?"
                      class="form-control here"
                      type="text"
                      formControlName="organizer"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lastname" class="col-4 col-form-label">On</label>
                  <div class="col-6">
                    <input
                      placeholder="pick a date"
                      class="form-control mb-2 mr-sm-2"
                      [matDatepicker]="myDatepicker"
                      name="date"
                      formControlName="date"
                    />

                    <mat-datepicker #myDatepicker></mat-datepicker>
                  </div>
                  <div class="input-group-addon">
                    <button
                      class="btn btn-primary calendar datepicker"
                      (click)="myDatepicker.open()"
                      type="button"
                    >
                      <img
                        src="../../assets/Icons/Calendar.svg"
                        width="18px"
                        alt=""
                      />
                    </button>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="text" class="col-4 col-form-label">At</label>
                  <div class="col-8">
                    <select
                      id="select"
                      type="text"
                      name="time"
                      class="custom-select"
                      formControlName ="time"
                      
                    >
                      <option>8.30 AM</option>
                      <option>9.00 AM</option>
                      <option>9.30 AM</option>
                      <option>10.00 AM</option>
                      <option>10.30 AM</option>
                      <option>11.00 AM</option>
                      <option>11.30 AM</option>
                      <option>12.00 PM</option>
                      <option>12.30 PM</option>
                      <option>1.00 PM</option>
                      <option>1.30 PM</option>
                      <option>2.00 PM</option>
                      <option>2.30 PM</option>
                      <option>3.00 PM</option>
                      <option>3.30 PM</option>
                      <option>4.00 PM</option>
                      <option>4.30 PM</option>
                      <option>5.00 PM</option>
                      <option>5.30 PM</option>
                      <option>6.00 PM</option>
                      <option>6.30 PM</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="select" class="col-4 col-form-label">Where</label>
                  <div class="col-8">
                    <input
                      id="location"
                      name="location"
                      placeholder="Who are you ?"
                      class="form-control here"
                      type="text"
                      formControlName ="location"
                      
                    />
                  </div>
                </div>
                

                <div class="form-group row">
                  <label for="publicinfo" class="col-4 col-form-label"
                    >Describe the Event</label
                  >
                  <div class="col-8">
                    <textarea
                      id="content"
                      name="content"
                      cols="40"
                      rows="4"
                      class="form-control"
                      formControlName ="content"
                      
                    ></textarea>
                  </div>
                </div>
                <div class="image-pick-container">
                  <button  class="btn btn-primary" type="button" (click)="filePicker.click()">Pick Image</button>
                  <input type="file" #filePicker (change)="onImagePicked($event)">
                </div>
                <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview ">
               
                  <img [src]='imagePreview' [alt]="form.value.title">
                </div>
                <div class="form-group row">
                  <div class="offset-9 col-3">
                    <button name="submit" type="submit" class="btn btn-primary">
                      Request Event
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
