<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input
        class="form-control date-input"
        placeholder="Pick a date"
        name="dp"
        ngbDatepicker
        #d="ngbDatepicker"
      />
      <div class="input-group-append ">
        <button
          class="btn btn-outline-secondary calendar datepicker"
          (click)="d.toggle()"
          type="button"
        >
          <img src="../../assets/Icons/Calendar.svg" width="18px" alt="" />
        </button>
      </div>
    </div>
  </div>
</form>
