

<div class="categorybar-container">
  <ul   class="list-group list-group-horizontal " id="list-tab"  role="tablist">
    <li class="list-group-item list-group-item-action" [class.active]="tab=='tab1'"  (click)="FilterAcad(); tab='tab1'" role="tab" ><a >Academic</a></li>
    <li class="list-group-item list-group-item-action"  [class.active]="tab=='tab2'" (click)="FilterPol(); tab='tab2'" role="tab"><a   >Political</a></li>
    <li class="list-group-item list-group-item-action"  [class.active]="tab=='tab3'" (click)="FilterPub(); tab='tab3'" role="tab" ><a  >Media & Publication Groups</a></li>
    <li class="list-group-item list-group-item-action"  [class.active]="tab=='tab4'" (click)="FilterCom(); tab='tab4'" role="tab" ><a  >Community Service & Social Justice</a></li>
    <li class="list-group-item list-group-item-action"  [class.active]="tab=='tab5'" (click)="FilterArts(); tab='tab5'" role="tab" ><a   >Theater & The Arts</a></li>
    <li class="list-group-item list-group-item-action"  [class.active]="tab=='tab6'" (click)="FilterCult(); tab='tab6'" role="tab" ><a   >Cultural</a></li>
    <li class="list-group-item list-group-item-action"  [class.active]="tab=='tab7'" (click)="FilterSpirit(); tab='tab7'" role="tab" ><a   >Spiritual</a></li>
    <li class="list-group-item list-group-item-action"  [class.active]="tab=='tab8'" (click)="FilterSport(); tab='tab8'" role="tab" ><a   >Sports</a></li>
    <li class="list-group-item list-group-item-action"  [class.active]="tab=='tab9'" (click)="tab='tab9'" role="tab" ><a href="http://localhost:4200/clubs"   >Show all</a></li>
  </ul>
</div>

 
<div class="search-bar-container">
  <label class="search-label" for="Search-Club">Search Club</label><br />
  <img src="../../assets/Icons/icon_search.svg" width="17px" alt="" />
  <input class="searchbar" type="text" [(ngModel)]="title" (input)="search()" />
  <button class="create-btn" mat-raised-button  [routerLink]="['/createclub']">Start your own club</button>
</div>



<div class="alert alert-warning" role="alert" *ngIf="message">
  This category is empty. <a href="http://localhost:4200/clubs" class="alert-link">See all clubs</a>. Give it a click if you like.
</div>

<div class="cards-wrapper">
 
  <div class="card" style="width: 17rem;" *ngFor="let Club of clubs">
    <img
      class="card-img-top"
      src="../../../assets/clubs/clubsimg.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <hr />
      <h5 class="card-title">{{ Club.title }}</h5>
      <hr />
      <h4 class="card-category">{{ Club.category }}</h4>
      <hr />
      <p class="card-text">{{ Club.description }}</p>
      <hr />
      <a  class="btn btn-primary">Join us</a>
      <a  class="btn btn-secondary">More info +</a>
    </div>
  </div>
</div>
