
<!--<div class="form-wrapper">
  <h1>Your Club</h1>
  <mat-card>
    <form [formGroup]="form" (submit)="onAddClub()" >
      <mat-form-field>
        <label class="label" for="inputClubTitle">Club title :</label>
        <input class="inputfield"
        rows="2" cols="50"
          type="text"
          
          formControlName="title"
          
        />
        <mat-error *ngIf="form.get('title').invalid">Please Enter a Title</mat-error>
      </mat-form-field>
      <br/>
        <div class="form-group col-md-2">
        <label class="label" for="inputCategory">Category :</label>
        <select id="inputCategory" class="form-control"
          type="text"
          formControlName="category"
          >
          <option selected>Academic</option>
          <option>Political</option>
          <option>Media & Publication</option>
          <option>Community Service & Social Justice</option>
          <option>Theater & The Arts</option>
          <option>Cultural</option>
          <option>Religious & Spiritual</option>
          <option>Sports </option>
        </select>
      </div>
      <br/>
      <div>
        <button mat-stroked-button color='primary' type="button" (click)="filePicker.click()">pick image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img src="imagePreview" [alt]="form.value.title">
      </div>
      <label class="label" for="inputDescription">Club description :</label>
      <br/>
      <mat-form-field>
        
        <textarea
        class="inputfield"
        rows="6" cols="70"
         
          type="text"
          formControlName="description"
          
        ></textarea>
        <mat-error *ngIf="form.get('description').invalid">Please Enter a description</mat-error>
      </mat-form-field>
      <br />
      <button class="create-btn" mat-raised-button type="submit">
        Save club
      </button>
      <button class="create-btn1" mat-raised-button type="submit" [routerLink]="['/clublist']">
        See clubs
      </button>
    </form>
  </mat-card>
</div>
 -->
 
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3>Create Your club</h3>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="form" (submit)="onAddClub()">
                <div class="form-group row">
                  <label for="club name" class="col-4 col-form-label"
                    >Club Name</label
                  >
                  <div class="col-8">
                    <input
                      id="name"
                      name="title"
                      placeholder="Name your club"
                      class="form-control here"
                      
                      type="text"
                      formControlName="title"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="image-pick-container">
                    <button  class="btn btn-primary offset-8" type="button" (click)="filePicker.click()">Pick Image</button>
                    <input type="file" #filePicker (change)="onImagePicked($event)">
                  </div>
                  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
                 
                    <img [src]='imagePreview' [alt]="form.value.title">
                  </div>  
                </div>
               
                <div class="form-group row">
                  <label for="text" class="col-4 col-form-label">Category</label>
                  <div class="col-8">
                    <select
                      id="select"
                      type="text"
                      name="category"
                      class="custom-select"
                      formControlName="category"
                    >
                    <option selected>Academic</option>
                    <option>Political</option>
                    <option>Media & Publication</option>
                    <option>Community Service & Social Justice</option>
                    <option>Theater & The Arts</option>
                    <option>Cultural</option>
                    <option>Religious & Spiritual</option>
                    <option>Sports </option>
                    </select>
                  </div>
                </div>
               

                <div class="form-group row">
                  <label for="publicinfo" class="col-4 col-form-label"
                    >Describe the club</label
                  >
                  <div class="col-8">
                    <textarea
                      id="content"
                      name="content"
                      cols="40"
                      rows="4"
                      class="form-control"
                      formControlName="description"
                    ></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-9 col-3">
                    <button name="submit" type="submit" class="btn btn-primary">
                      Request club
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>